*{
	box-sizing: border-box;
    overflow-wrap: break-word; 
}

html{
	width: 100%;
	height: 100%;
	background: url(../img/cosmos.png);

}

body{
	margin: 0 auto;
	padding: 0;
}

a{
	text-decoration: none;
}  

/* TIPOGRAFÍAS */

/* RUDA BLACK font-family: 'Ruda', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@900&display=swap');

/* alternativa a 29LT BUKRA - MONTSERRAT   font-family: 'Montserrat', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* alternativa a Gidole  font-family: 'Abel', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/*font-family: 'Russo One', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


/* ICONOS Atribución:  
<a href="https://www.flaticon.es/iconos-gratis/identificacion" title="identificación iconos">Identificación iconos creados por Icongeek26 - Flaticon</a>;
*/

/* CONTENIDO PRINCIPAL */

#header{
	background: black;
	filter:alpha(opacity=73);
	-moz-opacity:.73;opacity:.73;
	padding-top: 25px;
    padding-bottom: 15px;
   	margin-bottom: 30px;
	width: 100%;
	margin: 0 auto;
}

#header img{
	width: 21vh;
}

#container{
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 130px;
}

#contenido, #espacioTexto{
	width: 80%;
	margin: 0 auto;
}


.preguntaRegistro{
	font-size: 25px;
    font-weight: 700;
}

.aRegistro:visited{
	color: white;
}

.contenidoRegistro{
	background-color: rgba(128, 128, 128, 0.8);
    padding-bottom: 50px;
    border-radius: 2%;
}

h1, h2{
	color: white;
}

h1 {
	--text: #ffffff;
	--yellow: #fde01a;
	--blue: #24408e;
	--purple: #732982;
	color: var(--text);
	font-family: 'Russo One', sans-serif;
	letter-spacing: 5px;
    font-weight: 500;
    margin-top: 22px;
	text-shadow: -4px -3px 2px var(--blue), -4px -2px 2px var(--purple);
}

/* SECCIÓN INPUTS */

.inputs_sec{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
}

.inputs_sec input, .inputs_sec button{
	text-align: center;
	cursor: pointer;
	font-family: 'Ruda', sans-serif;
	font-weight: bold;
	font-size: medium;
}

.inputs_sec input{
	height: 50px;
}

.inputs_sec button{
	height: 30px;
	background-color: #f0e9ff;
}

.photoBox{
	align-items: center;
	display: flex;
	background-color: white;
}

.photoBox img{
	width: 65px;
	margin-left: 10px;
}

.photoBox input{
	margin-top: 30px;
    margin-left: 10px;
}

/*Boton para agregar un archivo*/

#costumFile{
    display: none;
}

.formFile {
    color: rgb(128, 128, 128);
    display: flex;
    align-items: center;
    margin: 14px;
    cursor: pointer;
	font-family: 'Ruda', sans-serif;
	font-weight: bold;
	font-size: medium;
	
}

@media screen and (min-width: 1000px){

	.formFile {
		margin-left:35px;
	}

   .socialClaim{
	margin-right: 20px;
	margin-left: 30px;
    width: 70%;
	text-align: left;
    }
 
	#container{
		display: flex;
		width: 80%;
		align-items: center;
		margin: 50px auto;}

	#contenido, #header, #espacioTexto{
		width: 90%;
	
	}
	

	.photoBox img{
		margin-left: 35px;
	}

}
@media screen and (max-width:1000px) {
	.socialClaim{
		display:none;
	}
	
}	
