<<<<<<< HEAD:editarperfil.css
*{
    box-sizing: border-box;
    overflow-wrap: break-word; 

}

a{
    text-decoration: none;
}

/* TIPOGRAFÍAS */

/* RUDA BLACK font-family: 'Ruda', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@900&display=swap');

/* alternativa a 29LT BUKRA - MONTSERRAT   font-family: 'Montserrat', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* alternativa a Gidole  font-family: 'Abel', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


/* ICONOS Atribución:  
<a href="https://www.flaticon.es/iconos-gratis/identificacion" title="identificación iconos">Identificación iconos creados por Icongeek26 - Flaticon</a>;
*/

html{
	width: 100%;
    height: 100%;
}

body{
    margin: 0 auto;
}

/* HEADER */

header{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    gap: 60px;
    height: 80px;
}

#menuHorizontal{
    width: 80%;
    margin: 0 auto;
}

#menuHorizontal ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.logo img{
    width: 50px;
}


/* MAIN CONTENT */

#container{
    margin-top: 60px;
    height: cont(100vh - 80px- 130px);
}

#parteCentral{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 15px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.userBox{
    width: 70%;
}

/*
.userOptions{
    width: 30%;
    margin-right: 80px;
}*/

.user_photo img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.inputs_sec{
    line-height: 40px;
}

.inputs_sec input, .inputs_sec button{
    text-align: center;
    cursor: pointer;
    font-family: 'Ruda', sans-serif;
    font-weight: bold;
}

.inputs_sec input{
    height: 30px;
    width: 170px;
}

.inputs_sec input, .actualizaimg{
    border: solid 3px;
    border-color: #f0e9ff;
    font-weight: 700;
}

.inputs_sec button{
    height: 25px;
    width: 170px;
    background-color: #f0e9ff;
    border: none;
}

/* NAV ELEMENTS */

.listaUsos img{
    width: 25px;
}

li{
    list-style: none;
}

/*Boton para agregar un archivo*/

#costumFile{
    display: none;
}

.formFile {
    color: rgb(128, 128, 128);
    display: flex;
    align-items: center;
    margin: 14px;
    cursor: pointer;
    font-family: 'Ruda', sans-serif;
    font-weight: bold;
    font-size: small;
    justify-content: center;
    
}


/* BIO */

#bio{
    margin: 0 auto;
    width: 80%;
    height: 150px;
    padding: 30px;
    border: solid 1px;
}

.editBio_btn{
    display: flex;
    justify-content: flex-end;
}

.editBio_btn img{
    width: 25px;
}

h3{
    font-family: 'Montserrat', sans-serif; 
}

.bio_txt p{
    font-family: 'Montserrat', sans-serif; 
}

/* FOOTER */

footer{
    background: url(../img/cosmos.png);
    height: 130px;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


@media screen and (min-width: 1000px) {
    #parteCentral {
        display: flex;
        width: 80%;
        /* margin-left: 25%; */
        margin: 0 auto;
        gap: 5vw;
        text-align: center;
        margin-top: 55px;
        margin-bottom: 30px;
        justify-content: center;
    }

    h3{
        font-family: 'Ruda', sans-serif;
        font-size: 1.75em;
        margin: 2vw;
        text-align: center;
        letter-spacing: 0.2em;
    }

    .inputs_sec button {
        height: 25px;
        width: 17vw;
        background-color: #f0e9ff;
        border: none;
        padding: 1vw;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 1vw 2vw;
    }

    .logo img{ 
        width: 100px;
    }

  /* NAV ELEMENTS */
    .listaUsos img{
        width: 40px;
    }

   
    
    
}